# Python Fundamentals Workshop

<img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" title="Python Logo"/>

The main source of materials is the [official wiki page of Python](https://wiki.python.org/moin/BeginnersGuide/Programmers) (subsequently [this tutorial](https://python.land/python-tutorial)) and [Python cheatsheet](https://www.pythoncheatsheet.org/).

# The Zen of Python

Try `import this` to learn about some advocated principles by Python's gurus.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

---

# Commenting in Python

You can insert your comments in Python which will not be interpreted by it at all.
Why?
- Document what you are doing
- Debug
- Reminders: use `# TODO add another function here`
- Etc.

In [2]:
# This is a single line comment

""" This is a longer
multiline
comment"""

# Or maybe
# This multiline
# comment
print(""" This is a longer
multiline
comment""")

 This is a longer
multiline
comment

---

# Simple Operators

We have seven simple operators in Python:

| # | Operator | Semantics | Example |
| --- | --- | --- | --- |
| 1 | `**`  | Exponent | `2 ** 3 = 8` |
| 2 | `%` 	| Modulus/Remainder | 	`22 % 8 = 6` |
| 3 | `//` | Integer division | 	`22 // 8 = 2` |
| 4 | `/` 	| Division | 	`22 / 8 = 2.75` |
| 5 | `*` 	| Multiplication | 	`3 * 3 = 9` |
| 6 | `-` 	| Subtraction | 	`5 - 2 = 3` |
| 7 | `+`  | 	Addition | 	`2 + 2 = 4` |
| - | `=` | Assignment | - |

**What do these `#` numbers mean though?** Let's try to evaluate the following **expressions**:

In [1]:
6 + 6 / 2

9.0

In [6]:
(2 * 3 * 2) / 2 + 2

8.0

In [8]:
2 * 3 + 2 * 3

12

In [9]:
2 * 3 + 2 ** 2 * 3

18

In [10]:
2 * 3 + 2 ** (2 * 3)

70

**Operators mean different things with different data types, or might not work!!**

In [11]:
"Hello python!" * 3

'Hello python!Hello python!Hello python!'

So it's *absolutely important* to know your data types. Thus, let's learn more about `variables` in Python!

Assignment can be augmented thus:

|Operator|Equivalent|
|---|---|
|var += 1 | var = var + 1|
|var -= 1 | var = var - 1|
|var *= 1 | var = var * 1|
|var /= 1 | var = var / 1|
|var %= 1 | var = var % 1|

In [12]:
var = 0
var = var +++++ 1

var

1

In [13]:
var = 0
var += 1
var += 1
var += 1
var += 1
var += 1

var

5

In [14]:
4 % 2

0

In [15]:
5 % 2

1

In [16]:
var = 10
var = var + 1000
var

1010

In [20]:
1010 // 3

336

In [19]:
var = var % 3
var

2

In [17]:
var %= 3
var

2

---

# Variables

Variables are significant quantities that you want to save and use **later** in your code. Typical example would be **calculations** you make (like the mean).

Every variable in python must have **a name**. Names must be:
- Starting with a letter, or an underscore `_`! We cannot start a variable with a number like `1_best_var_ever`
- Containing only letters, numbers and `_`, so **one word**

→ **Additional encouraged rules**:
- Never name a variable with a reserved word (coloured usually)! like `print` or `def`
    - Sometimes you will get a syntax error, sometimes you'd have very bad results!
- Always use meaningful names, even if long
- Variable names are case sensetive! So better use lower case always as a general rule, however:
- Follow the naming and coding conventions of Python (found in `PEP 8` guide) from the start to get used to it. See them in [PEP 8 -- Style Guide for Python Code](https://www.python.org/dev/peps/pep-0008/).

In [21]:
var = 4
print(var)

4

In [22]:
my beautiful var = 5

SyntaxError: invalid syntax (2865143489.py, line 1)

In [23]:
my_beautiful_var = 5
print(my_beautiful_var)

5

In [24]:
_var = 4
print(_var)

4

In [25]:
1st_var = 4

SyntaxError: invalid decimal literal (1838738779.py, line 1)

In [26]:
_var = 4

In [28]:
def = 4

SyntaxError: invalid syntax (823646212.py, line 1)

## Types of Simple Variables in Python

We don't have to specify the types as we see above! However, we need to understand them and identify them.

We have booleans (`bool`), integers (`int`), floats (`float`) and strings (`str`). We can test for their types using `type(.)`.

In [7]:
var = True
type(var)

bool

In [30]:
var = False
type(var)

bool

In [31]:
var = 5
type(var)

int

In [32]:
var = -5.5
type(var)

float

In [33]:
var = "hello"
type(var)

str

In [34]:
var = "4"
type(var)

str

In [35]:
var * 3

'444'

In [36]:
var = '4'
type(var)

str

Double or single quotes is your choice, but Python prefers `'` over `"`.

Let's try to define a var with the value: `I'm happy`:

In [37]:
var = 'I'm happy'
var

SyntaxError: unterminated string literal (detected at line 1) (881986287.py, line 1)

In [38]:
var = "I'm happy"
var

"I'm happy"

In [39]:
var = "I like 'AMD'"
var

"I like 'AMD'"

In [40]:
var = 'I\'m happy'
var

"I'm happy"

### Knowing your variables types makes a lot of difference

Especially if you are reading data from text files or CSV files!

In [41]:
4 + 6

10

In [42]:
"4" + "6"

'46'

In [43]:
5 * 3

15

In [44]:
"5" * 3

'555'

In [45]:
5 * "3"

'33333'

In [46]:
2 ** 3

8

In [47]:
2 ** "3"

TypeError: unsupported operand type(s) for ** or pow(): 'int' and 'str'

Note the difference in how the output is formulated, which helps you debug and develop your code:

In [48]:
type(2)

int

In [49]:
type("2")

str

In [50]:
type('2')

str

In [51]:
type(2.0)

float

### Moving between variable types

Sometimes we want to convert a variable from type to type.
When you want to convert a variable from string to integer, you can use the data type keyword as function:

In [58]:
var = 5.0
var

5.0

In [53]:
str(var)

'5.0'

In [55]:
var = int(var)
var

5

In [57]:
var = str(var)
var

'5'

In [59]:
str(int(var))

'5'

In [60]:
var = "6"
float(var)

6.0

In [61]:
var = "-6"
int(var)

-6

In [62]:
float(var)

-6.0

In [69]:
var = "-6.787232"
float(var)

-6.787232

In [68]:
var

'-6.787232'

In [65]:
int(var)

ValueError: invalid literal for int() with base 10: '-6.787232'

In [66]:
int(float(var))

-6

In [70]:
var = "6.x"
int(var)

ValueError: invalid literal for int() with base 10: '6.x'

In [71]:
int(float(var))

ValueError: could not convert string to float: '6.x'

In [72]:
var = 5 > 4
type(var)

bool

In [73]:
var

True

In [74]:
int(var)

1

In [75]:
int(False)

0

In [76]:
var = True + 4
print(var)
type(var)

5

int

In [77]:
var = 0
bool(0)

False

In [78]:
var = 1
bool(1)

True

In [79]:
var = 3
bool(var)

True

In [80]:
var = 3.4
bool(var)

True

In [81]:
var = 0
bool(0)

False

In [82]:
bool(-1)

True

In [83]:
var = None
type(var)

NoneType

In [84]:
bool(var)

False

**So:**
- Anything other than zero evaluates to `True` boolean value in Python
- Zeros and `None` evaluate to `False`. `None` **is when our variable is defined, but has no value in it**, i.e. not initialised → very useful check!
- Any comparison is a boolean in itself → important to understand

### String variables are cool

String variables in Python have many useful functions and perks.
- They can span multiple lines
- They can include special characters (indicators of special cases), like:
    - `\n` the new line special character
    - `\t` the tab charachter
    - `\` the escape character if preceds a special case, to deactivate special cases of what follows
- They have two useful kinds: raw strings and formatted strings

In [85]:
var = """Here is my first line,
         And my second,
and what about a third one?! why not!"""
print(var)

Here is my first line,
         And my second,
and what about a third one?! why not!

In [86]:
var = "Here is line1,\nAnd line 2,\nAnd three!"
print(var)

Here is line1,
And line 2,
And three!

In [89]:
var = """Name:\\t\tRafi
Origin:\t\tEarth"""
print(var)

Name:\t	Rafi
Origin:		Earth

In [90]:
var = """Name:\tRafi
Origin:\\tEarth"""
print(var)

Name:	Rafi
Origin:\tEarth

As you see, we can deactivate the special functionality of `\` manually. This is sometimes tedious, like when defining filepaths on Windows:

In [95]:
file_path = "D:\repo\python_fundamentals_workshop\hello.txt"
print(file_path)

epo\python_fundamentals_workshop\hello.txt

That's when you use raw strings! Just an `r` before starting the string:

In [96]:
file_path = r"D:\repo\python_fundamentals_workshop\hello.txt"
print(file_path)

D:\repo\python_fundamentals_workshop\hello.txt

Finally, there are a lot of things to apply on string variables. Try to press `.` at the end of a string variable and check them up, or maybe see [this resource](https://www.w3schools.com/python/python_ref_string.asp).

In [19]:
var = "    This Is My String   "
var

'    This Is My String   '

In [20]:
var.lower()

    this is my string

In [99]:
var

'    This Is My String   '

In [100]:
var.upper()

'    THIS IS MY STRING   '

In [101]:
var.strip()

'This Is My String'

In [102]:
var.strip().lower()

'this is my string'

#### Formatting Strings using other Variables

There are many ways to print variable values within strings. Let's assume we want to print a greeting to someone.
We will use `input` to get the user's name from them.

In [2]:
your_name = input("What is your name?\n")

What is your name?
Jacob

In [104]:
your_name

'Jacob'

In [105]:
print("Welcome", your_name, "to our workshop!")

Welcome Jacob to our workshop!

A neater and more efficient way is to use formatted strings! Like raw strings, you just put an `f` for formatted before the string:

In [106]:
print(f"Welcome {your_name}!")

Welcome Jacob!

In [107]:
print(f"Welcome {your_name*3}!")

Welcome JacobJacobJacob!

---

# More complex variables

What if we want a group of vairable that are linked to each other?

Your **address** is one such kind of data: you have a post code, a city, a street and a house number. Till now, we would define it as:

In [112]:
postcode = "A45 3SA"
street = "Victoria road"
house_number = 33
city = "Birmingham"

A bit messy. However, we can group these in a more complex data types:
- Tuple
- List
- Set
- Dictionary

When to choose each one though?

| Data Type | Allows Duplicates | Ordered | Can change its contents (mutable) |
| --- | --- | --- | --- |
| Tuple | Yes | Yes | No|
| List | Yes | Yes | Yes|
| Set | No| No| "Yes"|

Dictionary is more specific: you store `key:value` pairs inside.
Keys must be a basic data type or something that can be used as key because **it doesn't change its internal contents**: like `int`, `str` or maybe `tuple` (In other words, keys **must be immutable**).

Getting back to our address example, which one to choose?
- My address won't change
- The order matters
- Duplicates are OK

→ A Tuple!
Also: a tuple is faster and more memory efficient than lists, and it has fixed number of members.

► *Do you have examples of when to use lists or sets?*

## Tuples: define them with brackets `(` `)`

In [109]:
address = (house_number, street, city, postcode)
address

(33, 'Victoria road', 'Birmingham', 'A45 3SA')

In [110]:
address[2]

'Birmingham'

In [111]:
# We can extract tuple's data in one shot!
nbr, strt, cty, pcode = address
print(f"""{nbr} {strt}
{cty} {pcode}""")

33 Victoria road
Birmingham A45 3SA

In [113]:
address[2] = "London"

TypeError: 'tuple' object does not support item assignment

In [114]:
address.append("Earth")

AttributeError: 'tuple' object has no attribute 'append'

In [115]:
type(address)

tuple

## Lists: define them with square brackets `[` `]`

In [116]:
queue = ["Tom", "John", "Peter", "Luke", "Sam"]
queue

['Tom', 'John', 'Peter', 'Luke', 'Sam']

In [117]:
queue[3]

'Luke'

In [118]:
queue[5]

IndexError: list index out of range

In [119]:
queue[-5]

'Tom'

In [120]:
queue[-1]

'Sam'

In [121]:
queue[-3]

'Peter'

In [122]:
type(queue)

list

Slicing with lists

In [123]:
queue

['Tom', 'John', 'Peter', 'Luke', 'Sam']

In [124]:
queue[:]

['Tom', 'John', 'Peter', 'Luke', 'Sam']

In [125]:
queue[1:3]

['John', 'Peter']

In [126]:
queue[2:]

['Peter', 'Luke', 'Sam']

In [131]:
queue[:3]

['Tom', 'John', 'Peter']

In [130]:
queue[2,3,4]

TypeError: list indices must be integers or slices, not tuple

In [13]:
queue

['Tom', 'John', 'Peter', 'Luke', 'Sam', 'Mary']

In [9]:
# We can change the contents of the queue because it is mutable!
queue.append("Aaron")
queue

['Tom', 'John', 'Peter', 'Luke', 'Sam', 'Bridget', 'Valerie', 'Mary', 'Aaron']

In [10]:
# Let's imagine we have a new line of people at the door
new_people = ["Bridget", "Valerie", "Susie"]
queue.append(new_people)
queue

['Tom',
 'John',
 'Peter',
 'Luke',
 'Sam',
 'Bridget',
 'Valerie',
 'Mary',
 'Aaron',
 ['Bridget', 'Valerie', 'Susie']]

In [ ]:
print(queue)

In [11]:
queue = ["Tom", "John", "Peter", "Luke", "Sam"]
queue.append("Rafi", "Gary")

TypeError: list.append() takes exactly one argument (2 given)

In [21]:
queue.append("Mary").append("Valerie")
queue

AttributeError: 'NoneType' object has no attribute 'append'

In [22]:
queue = ["Tom", "John", "Peter", "Luke", "Sam"]
new_people = ["Bridget", "Valerie", "Mary"]

queue.extend(new_people)
queue

['Tom', 'John', 'Peter', 'Luke', 'Sam', 'Bridget', 'Valerie', 'Mary']

In [23]:
# Can use basic operations on lists
queue = ["Tom", "John", "Peter", "Luke", "Sam"]
queue = queue + new_people

In [24]:
queue

['Tom', 'John', 'Peter', 'Luke', 'Sam', 'Bridget', 'Valerie', 'Mary']

In [25]:
queue + queue + queue + ["Rafi"] + ["Alan"]

['Tom',
 'John',
 'Peter',
 'Luke',
 'Sam',
 'Bridget',
 'Valerie',
 'Mary',
 'Tom',
 'John',
 'Peter',
 'Luke',
 'Sam',
 'Bridget',
 'Valerie',
 'Mary',
 'Tom',
 'John',
 'Peter',
 'Luke',
 'Sam',
 'Bridget',
 'Valerie',
 'Mary',
 'Rafi',
 'Alan']

In [32]:
type("Rori")

str

In [33]:
type(["Rori"])

list

In [30]:
queue + ["Rafi"]

['Tom',
 'John',
 'Peter',
 'Felicity',
 'Luke',
 'Sam',
 'Bridget',
 'Valerie',
 'Mary',
 'Rafi']

In [31]:
queue + "Rori"

TypeError: can only concatenate list (not "str") to list

In [27]:
print(queue)

['Tom', 'John', 'Peter', 'Luke', 'Sam', 'Bridget', 'Valerie', 'Mary']

In [28]:
# Since order matters, we want to be able to insert at specific location sometimes. We can then use `.insert()`:
queue.insert(3, "Felicity")
queue

['Tom',
 'John',
 'Peter',
 'Felicity',
 'Luke',
 'Sam',
 'Bridget',
 'Valerie',
 'Mary']

In [34]:
# Or even sort things
queue.sort()
queue

['Bridget',
 'Felicity',
 'John',
 'Luke',
 'Mary',
 'Peter',
 'Sam',
 'Tom',
 'Valerie']

In [35]:
queue.sort(reverse=True)
queue

['Valerie',
 'Tom',
 'Sam',
 'Peter',
 'Mary',
 'Luke',
 'John',
 'Felicity',
 'Bridget']

In [36]:
# Or even remove things
queue.remove("Peter")
queue

['Valerie', 'Tom', 'Sam', 'Mary', 'Luke', 'John', 'Felicity', 'Bridget']

In [37]:
queue.remove("Dan")

ValueError: list.remove(x): x not in list

In [38]:
type(queue)

list

**We can have multi-dimensional lists!** that is by *nesting* lists:

In [39]:
matrix = [[1, 2, 3],
         [4, 5, 6],
         [7, 8, 9]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [40]:
type(matrix)

list

In [41]:
matrix[1, 2]

TypeError: list indices must be integers or slices, not tuple

In [42]:
matrix[0][0]

1

In [44]:
matrix[1]

[4, 5, 6]

In [43]:
matrix[1][2]

6

In [45]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [50]:
len(matrix)

3

In [49]:
matrix[0].sort(reverse=True)
matrix[0]

[3, 2, 1]

In [47]:
matrix[2][2]

9

In [48]:
matrix[7][1]

IndexError: list index out of range

# Sets: define them with `set([])` or with `{` `}` if not empty

The main feautre: **no duplicates**! We can perform set operations on sets, like union and intersection, which is very handy! Memberships are typically modelled with sets.

Note: a set is **unordered**! so no indexes or order here

In [ ]:
husband_bag = {"apples", "orages", "eggs"}
husband_bag

In [ ]:
husband_bag = set(["apples", "oranges", "eggs"])
husband_bag

In [ ]:
husband_bag.add("chocolate")
husband_bag

In [ ]:
husband_bag.add("eggs")
husband_bag

In [ ]:
husband_bag.update(["PS4", "Castle Vania", "apples"])
husband_bag

In [ ]:
husband_bag[0]

In [ ]:
wife_bag = {"milk", "meat", "eggs", "chocolate", "chocolate", "chocolate"}
wife_bag

Let's find particular items of both of them:

In [ ]:
husband_bag

In [ ]:
wife_bag

In [ ]:
wife_bag.difference(husband_bag)

In [ ]:
husband_bag.difference(wife_bag)

In [ ]:
wife_bag.symmetric_difference(husband_bag)

In [ ]:
wife_bag ^ husband_bag

Has any of the two bought the same thing twice? let's avoid an argument and find out!

In [ ]:
wife_bag.intersection(husband_bag)

In [ ]:
husband_bag.discard("eggs")
husband_bag.discard("chocolate")

if len(wife_bag.intersection(husband_bag)) == 0:
    print("We're good now!")

In [ ]:
husband_bag

In [ ]:
husband_bag.remove("eggs")

In [ ]:
husband_bag.add("eggs")
husband_bag.discard("eggs")
husband_bag

In [ ]:
husband_bag.discard("eggs")
husband_bag

Let's have an overview of what the couple has bought:

In [ ]:
husband_bag.union(wife_bag)

In [ ]:
couples_bag = husband_bag.union(wife_bag)

print(f"The couple bought {len(couples_bag)} types of items")

In [ ]:
child = {"apples", "sugar"}
child

In [ ]:
husband_bag.union(wife_bag).union(child)

# Dictionaries: define them with `{` `}`

Very common and powerful data structure, wherever you have associative relations between a "key" and a "value": key → value(s).

Typical example: **telephone directory**!
Let's make one for BT, wher we have Tom, Mary and Rebecca as customers.

In [51]:
bt_phone_book = {}
print(bt_phone_book)
print(type(bt_phone_book))

{}
<class 'dict'>

Since its type is dict, there is a `dict()` function which we can use too, like other datatypes:

In [ ]:
bt_phone_book = dict([])
bt_phone_book

Since we know the keys, we can use `dict.fromkeys`:

In [53]:
customers = ['Tom', 'Mary', 'Rebecca']

In [54]:
bt_phone_book = dict.fromkeys(customers, "0000-000-0000")
bt_phone_book

{'Tom': '0000-000-0000', 'Mary': '0000-000-0000', 'Rebecca': '0000-000-0000'}

In [55]:
bt_phone_book = {"Tom": '013253434',
                "Mary": '734246344',
                "Rebecca": '533159372'}
bt_phone_book

{'Tom': '013253434', 'Mary': '734246344', 'Rebecca': '533159372'}

## Dictionary Keys and Values or Items

In [56]:
print("Keys:", bt_phone_book.keys())
print("Values:", bt_phone_book.values())

Keys: dict_keys(['Tom', 'Mary', 'Rebecca'])
Values: dict_values(['013253434', '734246344', '533159372'])

In [57]:
bt_phone_book["Tom"]

'013253434'

In [58]:
bt_phone_book[0]

KeyError: 0

In [59]:
bt_phone_book.get("Tom")

'013253434'

In [60]:
bt_phone_book

{'Tom': '013253434', 'Mary': '734246344', 'Rebecca': '533159372'}

In [61]:
bt_phone_book["Sam"]

KeyError: 'Sam'

In [62]:
bt_phone_book.get("Sam")

In [63]:
bt_phone_book["Sam"] = '72453'
bt_phone_book

{'Tom': '013253434',
 'Mary': '734246344',
 'Rebecca': '533159372',
 'Sam': '72453'}

In [64]:
del(bt_phone_book["Sam"])
bt_phone_book

{'Tom': '013253434', 'Mary': '734246344', 'Rebecca': '533159372'}

In [65]:
bt_phone_book.items()

dict_items([('Tom', '013253434'), ('Mary', '734246344'), ('Rebecca', '533159372')])

What if a person has many phone numbers??

In [66]:
# Let's make a better phone book
bt_phone_book = {"Tom": '013253434',
                "Mary": '734246344',
                "Rebecca": ['533159372']}
bt_phone_book

{'Tom': '013253434', 'Mary': '734246344', 'Rebecca': ['533159372']}

In [67]:
bt_phone_book["Rebecca"].append("456198416")
bt_phone_book

{'Tom': '013253434',
 'Mary': '734246344',
 'Rebecca': ['533159372', '456198416']}

In [68]:
# Let's add a number to Mary:
bt_phone_book["Mary"].append("456198416")
bt_phone_book

AttributeError: 'str' object has no attribute 'append'

In [69]:
complex_phone_book = {"Rebecca": {"House_Nbr": ['3232'],
                                  "Office": ['323232']
                                 }
                     }

In [70]:
complex_phone_book["Rebecca"]["Office"]

['323232']

In [71]:
bt_phone_book

{'Tom': '013253434',
 'Mary': '734246344',
 'Rebecca': ['533159372', '456198416']}

In [72]:
new_customers = {"Sam": [143423, 634345], "Dan": 632323}
bt_phone_book.update(new_customers)
bt_phone_book

{'Tom': '013253434',
 'Mary': '734246344',
 'Rebecca': ['533159372', '456198416'],
 'Sam': [143423, 634345],
 'Dan': 632323}

In [73]:
new_data = {"Sam": None}
bt_phone_book.update(new_data)
bt_phone_book

{'Tom': '013253434',
 'Mary': '734246344',
 'Rebecca': ['533159372', '456198416'],
 'Sam': None,
 'Dan': 632323}

### The `isinstance()` function

In [77]:
my_list = [2, 6, "Tom", "John", 8, True]
my_tupe = ("0044", "1521", "759123")

# Feel free to craft your own even more complex data types to suit your needs!
my_dict = {"country1": {"city1": ["street1", "street2"],
                        "city2": "street3"},
          "country2": {"city3": "street4"}}

In [78]:
type(my_list)

list

In [79]:
type(my_tupe)

tuple

In [80]:
type(my_dict)

dict

In [81]:
type(my_list) == list

True

In [82]:
type(my_tupe) == tuple

True

In [83]:
# Safer and should be used always for headache-free execution (subtypes and OOP...)
isinstance(my_list, list)

True

In [ ]:
isinstance(my_dict, tuple)

In [ ]:
isinstance("3", int)

### The `len()` function

In [84]:
my_list

[2, 6, 'Tom', 'John', 8, True]

In [85]:
len(my_list)

6

In [86]:
my_list[6]

IndexError: list index out of range

In [87]:
len(my_tupe)

3

In [88]:
my_dict

{'country1': {'city1': ['street1', 'street2'], 'city2': 'street3'},
 'country2': {'city3': 'street4'}}

In [89]:
len(my_dict)

2

In [90]:
len(my_dict["country2"])

1

In [91]:
# Will you be able to pull this off?
len(my_dict["country1"]["city2"])

7

### The `in` operator

In [ ]:
queue = ["Sam", "Tom", "Paul"]

In [92]:
"Tom" in queue

True

In [93]:
"Tom" not in queue

False

In [94]:
bt_phone_book = {"Tom": '013253434',
                "Mary": '734246344',
                "Rebecca": '533159372'}

In [95]:
"Mary" in bt_phone_book

True

In [96]:
"Mary" in bt_phone_book.values()

False

In [ ]:
("Mary", '734246344') in bt_phone_book.items()

---

# Conditionals and comparisons

We have six comparison operators in Python:

|Operator|Meaning|
|---|---|
|>| greater than|
|<| smaller than|
|>=| greater than or equal to|
|<=| smaller than or equal to|
|**==**| is equal|
|!=| is not equal|

**Each comparison results in a boolean True or False, so it gives us a boolean values**.

We use `if`, `else` and `elif` for complex comparison logic. **indentation is key to know which code lines belong under which condition expression!**

In [98]:
var = 0
if var > 0:
    print(f"value {var} is positive!")
    var2 = "Yes!"
elif var < 0:
    print(f"value {var} is negative!")
    var2 = "No!"
else:
    print(f"value {var} is zero.")
    var2 = "Meh"
print(var2, ".")

value 0 is zero.
Meh .

In [97]:
if 2 < 3 < 4 < 5:
    print("School is good")
else:
    print("They lied to us!")

School is good

In [ ]:
if 'a' >= 'Z'.lower():
    print("hello")
elif 'a' < 'z':
    print("bye")

In [99]:
var = 5

if var == 0:
    print(f"This var is absolutely zero, and it's value is {var}")
elif var != 0:
    print(f"{var} is not zilch at the end.")

5 is not zilch at the end.

In [100]:
if False == 1:
    print("hello")
elif False != 1:
    print("bye")

bye

## Taking it to the next level: `or`, `and` and `not`

`or`, `not` and `and` can be used to make complex comparisons like this:

In [ ]:
check = (2 + 2 == 4) and (5 * 5 == 25) and not (5 + 2 == 7)
if check:
    print("hello")
else:
    print("bye")

In [102]:
raining = True
windy = False
warm = True

In [103]:
play_outside = None

In [104]:
if warm or not raining:
    play_outside = True
elif raining and windy:
    play_outside = False
elif warm and not windy:
    play_outside = True

print(f"Play outside: {play_outside}")

Play outside: True

What if a variable is unknown?

In [ ]:
var1 = None
var2 = None

if var1 == var2:
    print("zero")
elif var1 != var2:
    print("not zero")

However, it is **always recommended** to use `is` when comparing to `None` because `None` is "unknown"/"unassigned"

In [ ]:
if var1 is var2:
    print("zero")
else:
    print("not zero")

In [ ]:
x = 0

if x:
    print("it is defined")
else:
    print("it is not defined")

---

# Loops

Let's try to print the names of people standing at the till:

In [106]:
queue = ["Tom", "John", "Peter", "Luke", "Sam"]
# Print all elements
print(queue[0])
print(queue[1])
print(queue[2])
print(queue[3])
print(queue[4])

Tom
John
Peter
Luke
Sam

Imagine that we have 100 customers...

For tasks than need repetition, like going over a list or data, we should use loops. Loops are dynamic and convenient.

We have two kinds of loops in Python:
- `for` loops
- `while` loops

In [107]:
for element in queue:
    print(element)

Tom
John
Peter
Luke
Sam

We can enumerate the loops, or number them and maybe use these numbers if they are meaningful to us, with `enumerate`:

In [108]:
for turn, customer in enumerate(queue):
    print(f"{turn} - {customer}")

0 - Tom
1 - John
2 - Peter
3 - Luke
4 - Sam

In [109]:
for turn, customer in enumerate(queue):
    print(f"# {turn+1} - {customer}")

# 1 - Tom
# 2 - John
# 3 - Peter
# 4 - Luke
# 5 - Sam

**For (and while) loops can iterate over *iterable* objects**, i.e. they need to have elements to return one at a time.
How about this?

In [110]:
for letter in "ABCDEFG".lower():
    print(letter)

a
b
c
d
e
f
g

In [111]:
for number in "2376":
    print(number)
    print(type(number))

2
<class 'str'>
3
<class 'str'>
7
<class 'str'>
6
<class 'str'>

In [113]:
for counter in range(3, 6):
    print(counter)

3
4
5

In [114]:
for element in 3:
    print(element)

TypeError: 'int' object is not iterable

In [115]:
matrix = [[1, 2, 3],
         [4, 5, 6],
         [7, 8, 9]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [116]:
for r, element in enumerate(matrix):
    print(f"row {r}:{element}")

row 0:[1, 2, 3]
row 1:[4, 5, 6]
row 2:[7, 8, 9]

In [124]:
lst = [[3, 4], [5, 2, 1], [1]]

for nds in lst:
    print(nds)
    for i in nds:
        print(i)

[3, 4]
3
4
[5, 2, 1]
5
2
1
[1]
1

In [117]:
for r, row in enumerate(matrix):
    for c, column in enumerate(row):
        print(f"row{r}, column{c}: {matrix[r][c]}")

row0, column0: 1
row0, column1: 2
row0, column2: 3
row1, column0: 4
row1, column1: 5
row1, column2: 6
row2, column0: 7
row2, column1: 8
row2, column2: 9

If I don't know how many times to iterate, or my loop depends on a guarding condition like user input, `while` can be used:

In [118]:
end = 6
counter = 0
while counter < end:
    print(counter)
    counter += 1

0
1
2
3
4
5

In [ ]:
search = ["innocent", "innocent", "guilty", "innocent", "innocent"]*100
search

In [ ]:
i = 0
while i < len(search) and search[i] != "guilty":
    print(search[i])
    i += 1

In [ ]:
num = 0
while num != -1:
    num = int(input("Enter a number to get its exponential! If you want to quite, enter -1.\n► "))
    print(f"{num}^2 = {num**2}")
print("Bye!")

## `break` and `continue`

`break` and `continue` are very handful for finely managing loops and enhancing the efficiency (speed and resilence to errors for example).

- `break`: breaks the current loop and gets out of it to continue executing **what comes after the loop**
- `continue`: skips the current iteration or the loop and goes to the next **iteration** if any

In [ ]:
search = ["guilty", "innocent", "innocent", "guilty", "innocent", "innocent"]*100
search

In [ ]:
# Find if the list contains an innocent:
has_innocents = False
iterations_run = 0

for case in search:
#     iterations_run += 1
    iterations_run = iterations_run + 1
    if case == "innocent":
        has_innocents = True
print(f"Innocents found is {has_innocents} in {iterations_run} iterations.")

In [ ]:
# Find if the list contains an innocent:
has_innocents = False
iterations_run = 0

for case in search:
    iterations_run += 1
    if case == "innocent":
        has_innocents = True
        break
print(f"Innocents found is {has_innocents} in {iterations_run} iterations.")

In [ ]:
data = ["Falk", "Kim", "Uli", None, "Dani", "Charlie", None]
for name in data:
    print(f"{name} is {len(name)} characters long.")

In [ ]:
for name in data:
    if name is None:
        continue
    print(f"{name} is {len(name)} characters long.")

# List Comprehensions

It is an advanced "aesthetic" concept, so understand loops perfectly before using these.

In [ ]:
nums = [1, 2, 3]
doubles = []

for num in nums:
    doubles.append(num*2)

doubles

In [ ]:
doubles = [num*2 for num in nums]
doubles

In [ ]:
nums = [1, 2, 3, 4]
even_doubles = []

for num in nums:
    if num % 2 == 0:
        even_doubles.append(num*2)

even_doubles

In [ ]:
even_doubles = [x*2 for x in nums if x%2 == 0]
even_doubles

---

# I/O

Let's look at a quich example to read a CSV file in a slightly different way.

`Pandas` is amazing at doing so, but some I/O experience can come a long way.

In [ ]:
import os
os.getcwd()

In [ ]:
file_path = r".\resources\titanic.csv"

In [ ]:
import csv
from pprint import pprint

file_handler = open(file_path, mode="r")
interpret_data = csv.DictReader(file_handler)
for line in interpret_data:
    pprint(line)

# CRUCIAL!!
file_handler.close()
print("\nIs the file closed properly??", file_handler.closed)

It is crucial to close the file! Safer is to use a **context manager** like `with`.

They manage the memory and resources for you and they take care of cleaning the mess after their context ends; context = a block of code.

In [ ]:
with open(file_path, mode='r') as file_handler:
    interpret_data = csv.DictReader(file_handler)
    for line in interpret_data:
        print(f"{line['Name']}:\t{line['Survived']}")

print("\nIs the file closed properly??", file_handler.closed)

In [ ]:
with open(file_path, mode='r') as file_handler:
    interpret_data = csv.reader(file_handler)
    # How many people do we have?
    print(f"We have {len(list(interpret_data))} people on the Titanic")
    
    for line in interpret_data:
        print(f"{line['Name']}:\t{line['Survived']}")

print("\nIs the file closed properly??", file_handler.closed)

---

# Functions: the lego pieces at last! define then with `def`

You have all used them! `print()` is a function.

A function has:
- a name
- some parameters if needed, can be mandatory or optional with default values
- a return value: always, even `None`

These three elements are sometimes known as **signatures**.

Let's define a function that checks if a number is even? **note the indentation!!**

In [ ]:
print("I am Good")

In [ ]:
4 % 2 == 0

In [ ]:
def is_even(number):
    check = (number % 2 == 0)
    return(check)

In [ ]:
is_even(3) # we call the function with the *argument* 3

In [ ]:
is_even(6)

In [ ]:
type(is_even(6))

In [ ]:
even = is_even(6)
even

In [ ]:
is_even()

You can give your parameters default values so they will be optional.

In [ ]:
def is_even(number = 0):
    check = (number % 2 == 0)
    return(check)

In [ ]:
is_even()

You can be explicit about the types of parameters.

In [ ]:
is_even("r")

In [ ]:
def is_even(number:int = 0):
    check = (number % 2 == 0)
    return(check)

In [ ]:
is_even(3.5)

Let's define a function that calculates the equation $f(x) = 5x + 3$

In [ ]:
def find(x:float = -1):
    y = 5 *x + 3
    return y

In [ ]:
find()

In [ ]:
print(find(x=2))
print(find(5))

In [ ]:
for x in range(3):
    print(f"x = {x} → y = {find(x)}")

## Scope Caveats

In [ ]:
var = 0
#..
#..
def fun():
    print(f"Hello from fun and var is {var}")

fun()
var

In [ ]:
var = 0
#..
#..
def fun():
    var = 2
    print(f"Hello from fun and var is {var}")

fun()
var

In [ ]:
var = 0
def fun():
    global var
    var = 2
    print(f"Hello from fun and var is {var}")

fun()
var

In [ ]:
var = 0
def fun(myvar):
    myvar = 2
    print(f"Hello from fun and var is {myvar}")

fun(myvar=var)
var

In [ ]:
def fun():
    var2 = 2
    print(f"Hello from fun and var2 is {var2}")

fun()
print(var2)

## `pass` for placeholder functions

In [ ]:
# I need to clean my fridge, so I need these functions and I will develop them later

def check_dirtiness():
    #d fsds 
    pass

def clean_shelve():
    pass

def test_fridge():
    pass

Can we use a function inside a function??

---